<% provide(:title, "Resend Confirmation Instructions") %>

<h1>Resend Confirmation Instructions</h1>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "shared/error_messages", obj: @user %>
  <fieldset>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", autofocus: true %>
    </div>
  </fieldset>
  <div class="form-actions">
    <%= f.submit "Resend Confirmation Instructions", class: "button button-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
