<li class="comment panel">
  <div class="row">
    <div class="comment-author col-md-6">
      <%= page_comment.user.display_name.upcase %> said...
    </div>
    <div class="col-md-6 text-right">
      <div class="comment-timestamp">
        on <%= page_comment.created_at.strftime("%b, %e at %I:%M %P").upcase %>
      </div>
      <% if page_comment.user == current_user %>
        <div class="comment-actions">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          <%= link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true'></span>".html_safe, wiki_space_page_page_comment_path(@space, @page, page_comment), { method: :delete, "data-confirm" => "Are you sure you want to delete your comment?" } %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="comment-content col-md-12">
      <%= markdown(page_comment.content) %>
      <%= "<div class='comment-last-updated'>Last Updated #{page_comment.updated_at.strftime("%b, %e at %I:%M %P")}</div>".html_safe if page_comment.created_at != page_comment.updated_at %>
    </div>
    <div class="comment-edit-form col-md-12">
      <%= form_for page_comment, url: wiki_space_page_page_comment_path(@space, @page, page_comment), html: { role: "form", class: "update-comment-form" } do |f| %>
          <%= render "shared/error_messages", obj: page_comment %>
          <fieldset>
            <div class="form-group">
              <%= f.label :content, "Update Comment" %>
              <%= f.text_area :content, class: "form-control", rows: 4 %>
            </div>
          </fieldset>
          <div class="form-actions">
            <%= f.submit "Update", class: "button button-primary" %>
          </div>
        <% end %>
    </div>
  </div>
</li>
<div class="comment-reply">
  <a href="#" class="comment-reply-link">Reply to Comment<%= " (#{page_comment.children.count})" if page_comment.children.count > 0 %></a>
  <div class="comment-form">
    <div class="row">
      <div class="col-md-6">
        <%= form_for @page_comment, url: wiki_space_page_page_comments_path(@space, @page), html: { role: "form", class: "reply-comment-form" } do |f| %>
          <%= render "shared/error_messages", obj: @page_comment %>
          <fieldset>
            <div class="form-group">
              <%= f.label :content, "Reply to Comment" %>
              <%= f.text_area :content, class: "form-control", rows: 4 %>
              <%= f.hidden_field :parent_id, value: page_comment.id %>
            </div>
          </fieldset>
          <div class="form-actions">
            <%= f.submit "Reply", class: "button button-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>