<p><%= @organization %> has invited you to join Wavelength.</p>

<p>You can sign up for an account through the link below:</p>

<p><%= link_to "Sign up for an account!", new_user_registration_url(email: @email, organization: @organization, access_code: @access_code) %></p>