<% provide(:title, "Sign In") %>

<h1>Sign In</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "shared/error_messages", obj: @user %>
  <fieldset>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.check_box :remember_me %> <%= f.label :remember_me, "Remember Me?" %>
      </div>
    <% end %>
  </fieldset>
  <div class="form-actions">
    <%= f.submit "Sign In", class: "button button-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
