<aside class="form-help-links">
  <% if controller_name != "sessions" %>
    Already have an account? <%= link_to "Sign In", sign_in_path %><br />
  <% end %>

  <% if devise_mapping.registerable? && controller_name != "registrations" %>
    Don't have an account? <%= link_to "Sign Up", sign_up_path %><br />
  <% end %>

  <% if devise_mapping.recoverable? && controller_name != "passwords" && controller_name != "registrations" %>
    Forgot your password? <%= link_to "Reset It", new_password_path(resource_name) %><br />
  <% end %>

  <% if devise_mapping.confirmable? && controller_name != "confirmations" %>
    Didn't receive confirmation instructions? <%= link_to "Resend Instructions", new_confirmation_path(resource_name) %><br />
  <% end %>

  <% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != "unlocks" %>
    Didn't receive unlock instructions? <%= link_to "Resend Instructions", new_unlock_path(resource_name) %><br />
  <% end %>

  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      Sign in with <%= link_to provider.to_s.titleize, omniauth_authorize_path(resource_name, provider) %><br />
    <% end %>
  <% end %>
</aside>