<header class="app-nav navbar navbar-inverse" role="navigation">
  <nav class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#app-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </nav>
  <nav class="collapse navbar-collapse" id="app-navbar-collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Chat", chat_root_path, class: controller_path.start_with?("chat") ? "active": ""; %></li>
      <li><%= link_to "Project Management", pm_root_path, class: controller_path.start_with?("pm") ? "active": ""; %></li>
      <li><%= link_to "Wiki", wiki_root_path, class: controller_path.start_with?("wiki") ? "active": ""; %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Dashboard", dashboard_path, class: current_page?(dashboard_path) ? "active" : ""; %></li>
      <li><%= link_to "My Account", edit_user_registration_path, class: current_page?(edit_user_registration_path) ? "active" : ""; %></li>
      <li><%= link_to "Sign Out", sign_out_path %></li>
    </ul>
  </nav>
</header>