<footer class="footer">
  <div class="container">
    <small>
      &copy; <%= Time.now.year %> Wavelength
    </small>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Sign In", sign_in_path %></li>
        <li><%= link_to "Sign Up", sign_up_path %></li>
      </ul>
    </nav>
  </div>
</footer>