<% if obj.errors.any? %>
  <section id="error_explanation">
    <h2><%= pluralize(obj.errors.count, "error") %> found with this form:</h2>
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </section>
<% end %>