<% flash.each do |key, value| %>
  <article class="<%= flash_class(key) %> alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= value %>
  </article>
<% end %>