<header class="site-nav navbar navbar-default" role="navigation">
  <div class="container">
    <nav class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Wavelength", root_path, class: "navbar-brand" %>
    </nav>
    <nav class="collapse navbar-collapse" id="site-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Sign Up", sign_up_path %></li>
        <li><%= link_to "Sign In", sign_in_path, class: "button button-m button-primary" %></li>
      </ul>
    </nav>
  </div>
</header>