<li class="page">
  <% if page.has_children? %>
    <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
  <% else %>
    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
  <% end %>
  <%= (current_page?(wiki_space_page_path(page.space, page)) || current_page?(edit_wiki_space_page_path(page.space, page))) ? page.name : (link_to page.name, wiki_space_page_path(page.space, page)); %>
</li>