<% provide(:title, "Create a Page") %>

<section class="form-container">
  <div class="row">
    <div class="col-md-12">
      <h1>Create a Page</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= nested_form_for [:wiki, @space, @page], html: { role: "form", multipart: true } do |f| %>
        <%= render "shared/error_messages", obj: @page %>
        <fieldset>
          <legend>Page Information</legend>
          <div class="form-group">
            <%= f.label :name, "Name" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :parent_id, "Parent Page" %>
            <%= f.select :parent_id, @pages_for_select, { include_blank: true, selected: params[:parent_id] }, { class: "form-control" } %>
          </div>
          <div class="form-group">
            <%= f.label :description, "Description" %>
            <%= f.text_area :description, rows: 3, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :content, "Content" %>
            <%= f.text_area :content, rows: 35, class: "form-control tinymce" %>
          </div>
        </fieldset>
        <fieldset class="page-attachments">
          <legend>Page Attachments</legend>
          <table id="attachments" class="table">
            <%= f.fields_for :page_attachments, wrapper: false do |a| %>
              <tr class="fields">
                <td>
                  <%= a.label :name, "Name", class: "sr-only" %>
                  <%= a.text_field :name, class: "form-control", placeholder: "Enter Attachment Name" %>
                </td>
                <td>
                  <%= a.label :file, "File", class: "sr-only" %>
                  <%= a.file_field :file, class: "form-control file-field" %>
                </td>
                <td>
                  <%= a.hidden_field :aws_path, value: "#{current_user.organization.id}/#{@space.id}" %>
                  <%= a.link_to_remove "Remove", class: "button button-danger" %>
                </td>
              </tr>
            <% end %>
          </table>
          <div class="add-page-attachment">
            <%= f.link_to_add "+ Add Attachment", :page_attachments, data: { target: "#attachments" } %>
          </div>
        </fieldset>
        <div class="form-actions">
          <%= f.hidden_field :space_id, value: @space.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit "Create Page", class: "button button-primary" %>
          <%= link_to "Cancel", :back, class: "text-button" %>
        </div>
      <% end %>
    </div>
  </div>
</section>