<% provide(:title, "#{@page.name} | #{@space.name}" ) %>
<%= javascript_include_tag "wiki/comments.js" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <ol class="breadcrumb">
        <%= render_breadcrumbs tag: :li, separator: "" %>
      </ol>
    </div>
    <div class="col-md-6 text-right page-actions">
      <div class="btn-group" role="group" aria-label="Page Actions">
        <%= link_to "Edit", edit_wiki_space_page_path(@space, @page), class: "btn button-default" %>
        <%= link_to "Archive", wiki_space_page_archive_path(@space, @page), class: "btn button-default" %>
        <%= link_to "Delete", wiki_space_page_path(@space, @page), { method: :delete, "data-confirm" => "Are you sure you want to delete #{@page.name}?", class: "btn button-default" } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 page-heading">
      <h1><%= @page.name %></h1>
      <% if @page.created_at != @page.updated_at %>
        <small>(last updated on <%= @page.updated_at.strftime("%b, %e at %I:%M %P") %> by <%= @page.user.display_name %>)</small>
      <% end %>
    </div>
  </div>
  <div class="page-description row">
    <div class="col-md-12">
      <h3>Description</h3>
      <%= @page.description %>
    </div>
  </div>
  <div class="page-content row">
    <div class="col-md-12">
      <div class="panel">
        <%= @page.content.html_safe %>
      </div>
    </div>
  </div>
  <div class="page-attachments">
    <h3>Page Attachments (<%= @page.page_attachments.count %>)</h3>
    <ul class="list-unstyled">
      <% @page.page_attachments.each do |a| %>
        <li>
          <%= a.name %> (<%= link_to "preview", "https://#{Figaro.env.fog_endpoint}/#{Figaro.env.fog_directory}/#{a.file.path}", target: "_blank" %>)
        </li>
      <% end %>
    </ul>
  </div>
  <div class="page-comments row">
    <div class="col-md-12">
      <h3>Comments (<%= @page.page_comments.count %>)</h3>
      <ul class="comments list-unstyled">
        <%= display_page_comments %>
      </ul>
      <div class="row">
        <div class="col-md-6">
          <%= form_for @page_comment, url: wiki_space_page_page_comments_path(@space, @page), html: { role: "form", class: "new-comment-form" } do |f| %>
            <%= render "shared/error_messages", obj: @page_comment %>
            <fieldset>
              <div class="form-group">
                <%= f.label :content, "Add New Comment" %>
                <%= f.text_area :content, class: "form-control", rows: 4 %>
                <%= f.hidden_field :parent_id, value: "" %>
              </div>
            </fieldset>
            <div class="form-actions">
              <%= f.submit "Comment", class: "button button-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>