<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 page-heading">
      <h1><%= "#{current_user.organization.name}'s Wiki" %></h1>
    </div>
  </div>
  <div class="space-description row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Description</h3>
      <div class="panel">
        <%= current_user.organization.description %>
      </div>
    </div>
  </div>
  <div class="dashboard-widgets row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-5">
          <h3>
            Available Spaces
            <small><%= link_to "Create Space", new_wiki_space_path, class: "pull-right" %></small>
          </h3>
          <table class="table table-bordered available-spaces">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Last Updated</th>
              </tr>
            </thead>
            <tbody>
              <% @spaces.each do |s| %>
                <tr>
                  <td>
                    <%= link_to s.name, wiki_space_path(s) %>
                  </td>
                  <td>
                    <%= truncate(s.description, length: 60) %>
                  </td>
                  <td>
                    <%= s.updated_at.strftime("%b, %e at %I:%M %P") %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-6">
              <%= will_paginate @spaces, previous_label: "< prev", next_label: "next >" %>
            </div>
            <div class="col-md-6 text-right">
              <%= page_entries_info @spaces %>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <h3>Recently Updated Pages</h3>
          <table class="table table-bordered recently-updated-pages">
            <thead>
              <tr>
                <th>Name</th>
                <th>Space</th>
                <th>Description</th>
                <th>Last Updated</th>
              </tr>
            </thead>
            <tbody>
              <% @pages.take(20).each do |p| %>
                <% if p.created_at != p.updated_at && p.status == true %>
                  <tr>
                    <td>
                      <%= link_to p.name, wiki_space_page_path(p.space_id, p) %>
                    </td>
                    <td>
                      <%= link_to p.space.name, wiki_space_path(p.space_id) %>
                    </td>
                    <td>
                      <%= truncate(p.description, length: 40) %>
                    </td>
                    <td>
                      <%= p.created_at.strftime("%b, %e at %I:%M %P") %> by <%= p.user.display_name %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>