<% provide(:title, @space.name) %>

<section class="form-container">
  <div class="row">
    <div class="col-md-12">
      <h1>Edit Space</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= form_for [:wiki, @space], html: { role: "form" } do |f| %>
        <%= render "shared/error_messages", obj: @space %>
        <fieldset>
          <legend>Space Information</legend>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control", rows: 12 %>
          </div>
        </fieldset>
        <div class="form-actions">
          <%= f.submit "Update", class: "button button-primary" %>
          <%= link_to "Cancel", :back %>
        </div>
      <% end %>
    </div>
  </div>
</section>