<% provide(:title, @space.name ) %>

<div class="container-fluid">
  <div class="row">
    <div class="pull-left page-heading">
      <h1><%= @space.name %></h1>
    </div>
    <div class="pull-right text-right page-actions">
      <div class="btn-group" role="group" aria-label="Space Actions">
        <%= link_to "Edit", edit_wiki_space_path(@space), class: "btn button-default" %>
        <%= link_to "Archive", wiki_space_archive_path(@space), class: "btn button-default" %>
        <%= link_to "Delete", wiki_space_path(@space), { method: :delete, "data-confirm" => "Are you sure you want to delete #{@space.name}?", class: "btn button-default" } %>
      </div>
    </div>
  </div>
  <div class="space-description row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Description</h3>
      <div class="panel">
        <%= @space.description %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Recently Created Pages</h3>
      <table class="table table-bordered recently-created-pages">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created On</th>
          </tr>
        </thead>
        <tbody>
          <% @space.pages.order("created_at DESC").limit(10).each do |p| %>
            <% if p.status == true %>
              <tr>
                <td>
                  <%= link_to p.name, wiki_space_page_path(@space, p) %>
                </td>
                <td>
                  <%= truncate(p.description, length: 40) %>
                </td>
                <td>
                  <%= p.created_at.strftime("%b, %e at %I:%M %P") %> by <%= p.user.display_name %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h3>Recently Updated Pages</h3>
      <table class="table table-bordered recently-updated-pages">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Last Updated</th>
          </tr>
        </thead>
        <tbody>
          <% @space.pages.order("updated_at DESC").limit(10).each do |p| %>
            <% if p.created_at != p.updated_at && p.status == true %>
              <tr>
                <td>
                  <%= link_to p.name, wiki_space_page_path(@space, p) %>
                </td>
                <td>
                  <%= truncate(p.description, length: 40) %>
                </td>
                <td>
                  <%= p.updated_at.strftime("%b, %e at %I:%M %P") %> by <%= p.user.display_name %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>