<% provide(:title, "Change Your Password") %>

<h1>Change Your Password</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "shared/error_messages", obj: @user %>
  <fieldset>
    <div class="form-group">
      <%= f.label :password, "New Password" %>
      <%= f.password_field :password, class: "form-control", autofocus: true, autocomplete: "off" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm New Password" %>
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
    </div>
  </fieldset>
  <div class="form-actions">
    <%= f.hidden_field :reset_password_token %>
    <%= f.submit "Change My Password", class: "button button-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>