<% provide(:title, "Forgot Your Password?") %>

<h1>Forgot your password?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "shared/error_messages", obj: @user %>
  <fieldset>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", autofocus: true %>
    </div>
  </fieldset>
  <div class="form-actions">
    <%= f.submit "Send Password Reset Instructions", class: "button button-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
