<% provide(:title, "Chat") %>

<script type="text/javascript">
  var chatRef = new Firebase("https://wavelength.firebaseio.com/chat");
  var chat = new FirechatUI(chatRef, document.getElementById("chat-container"));

  var tokenGenerator = new FirebaseTokenGenerator("<%= Figaro.env.firebase_token %>"),
    token = tokenGenerator.createToken({ organizationId: gon.organizationId, user: gon.userName, isAdmin: gon.isAdmin }),
    chatRef = new Firebase("https://wavelength.firebaseio.com/chat"),
    chat = new FirechatUI(chatRef, document.getElementById("chat-container"));

  chatRef.auth(token, function(error) {
    if(error) {
      alert("There was an error authenticating with the server. Please refresh this page or contact a Wavelength representative.");
    }
  });

  chat.setUser(gon.userId, gon.organizationId, gon.userName, gon.userEmail, gon.isAdmin);
</script>