@import "variables-and-mixins";


/* Global Styles */
.app-container {
  width: 100%;
  padding-bottom: 60px;
}


/* Navigation Styles */
.app-nav {
  height: 46px;
  margin-bottom: 0;
  background-color: $medium-grey;
  @include border-radius(0px);
  border: none;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.30);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.30);
  z-index: 1000;
  .navbar-header {
    background-color: $body-bg;
    .navbar-toggle {
      background-color: transparent;
      border-color: $text-color;
      .icon-bar {
        background-color: $text-color;
      }
      &:hover {
        background-color: transparent;
        border-color: $link-color;
        .icon-bar {
          background-color: $link-color;
        }
      }
    }
  }
  .navbar-collapse {
    padding: 0;
    border: none;
    .navbar-right:last-child {
      margin-right: 0;
    }
    .navbar-nav {
      margin: 0;
      li > a {
        color: $body-bg;
        padding-top: 13px;
        padding-bottom: 13px;
        @include simple-transition();
        &:hover {
          color: $light-grey;
        }
        &.active {
          color: $light-grey;
        }
      }
    }
  }
}


/* My Account */
.organization-users {
  @extend .clearfix;
  margin-top: 40px;
}
.invite-user {
  @extend .clearfix;
  margin-top: 20px;
  [type="submit"] {
    margin-left: 5px;
  }
}


/* Chat */
.chat-container {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  .sidebar {
    z-index: 900;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $lighter-grey;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30);
    .sidebar-heading {
      margin-top: 15px;
      text-align: center;
      font-family: roboto-bold;
    }
    #chat-room-list {
      .chat-room {
        padding: 8px 10px;
        a {
          color: $text-color;
          &:hover {
            color: $link-color;
            text-decoration: none;
          }
        }
        .leave-room {
          display: none;
          padding-top: 2px;
          cursor: pointer;
          &:hover {
            color: $link-color;
          }
        }
        &:hover {
          .leave-room {
            display: block;
          }
        }
        &.active {
          background-color: lighten($lighter-grey, 15%);
          a {
            color: $link-color;
          }
        }
      }
    }
    .available-rooms-btn {
      width: 100%;
      margin-top: 10px;
      text-align: center;
    }
    .new-room {
      position: absolute;
      bottom: 0;
      left: 0;
      .new-room-link {
        display: block;
        padding: 10px;
        text-align: center;
        color: $link-color;
        border-top: 1px solid $light-grey;
        border-bottom: 1px solid $light-grey;
        cursor: pointer;
      }
      .new-room-form {
        display: none;
        padding: 10px;
      }
    }
  }
  .available-chat-rooms {
    z-index: 750;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
    background-color: $body-bg;
    padding: 10px 50px;
    #close-available-chat-rooms {
      color: $text-color;
      &:hover {
        color: $link-color;
      }
    }
    #available-chat-rooms-list {
      margin-top: 30px;
      .available-chat-room {
        margin-bottom: 20px;
        font-size: 18px;
        .enter-room, .leave-room {
          margin-left: 20px;
        }
      }
    }
  }
  .chat-window {
    z-index: 700;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
    &.active {
      display: block;
    }
    .users-list {
      z-index: 800;
      height: 45px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 10px 17px;
      background-color: $lighter-grey;
      -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.30);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.30);
      ul {
        li {
          margin-right: 15px;
          a {
            .user-avatar {
              width: 26px;
            }
          }
        }
      }
    }
    .chat-messages {
      position: absolute;
      top: 45px;
      right: 0;
      bottom: 65px;
      left: 0;
      margin-bottom: 0;
      overflow-y: scroll;
      .chat-message {
        position: relative;
        padding: 15px 20px;
        border-bottom: 1px solid lighten($light-grey, 18%);
        .message-timestamp {
          display: none;
          position: absolute;
          top: -10px;
          right: 20px;
          padding: 0px 5px;
          color: $light-grey;
          background-color: $body-bg;
        }
        .message-author {
          width: 115px;
          text-align: right;
          font-family: roboto-bold;
        }
        .message-content {
          position: relative;
          overflow: hidden;
          word-wrap: break-word;
          padding-left: 25px;
          margin-right: 50px;
          .message-rendered {
            .message-rendered-content {
              display: inline-block;
              .chat-message-image {
                max-width: 400px;
              }
              p, pre {
                margin: 0;
              }
            }
          }
          .message-raw {
            .expanding-textarea {
              min-height: 20px;
              overflow: hidden;
              resize: none !important;
              padding: 0;
              border: none;
              background: none;
              line-height: 20px;
              &:focus {
                outline: 0;
              }
            }
          }
        }
        .message-menu {
          visibility: hidden;
          position: absolute;
          top: 0;
          right: 25px;
          .message-edit, .message-delete {
            cursor: pointer;
          }
        }
        &:hover {
          .message-timestamp {
            display: block;
          }
          .message-menu {
            visibility: visible;
          }
        }
      }
    }
    .new-message-panel {
      z-index: 800;
      min-height: 65px;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 10px 10px 0px;
      background-color: $lighter-grey;
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.30);
      -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.30);
      .form-inline {
        .form-group {
          width: 100%;
          .input-group {
            width: 100%;
            .input-group-addon {
              width: 45px;
              color: $light-grey;
              cursor: pointer;
              &:hover {
                color: $link-color;
              }
            }
            .expanding-textarea {
              min-height: 20px;
              overflow: hidden;
              resize: none !important;
            }
          }
        }
      }
    }
  }
}


/* Project Mangement */
.pm-container {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  z-index: 900;
}


/* Wiki */
.wiki-container {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  z-index: 900;
  .dashboard-widgets {
    margin-top: 30px;
  }
  .pages-list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 330px;
    overflow-y: scroll;
    z-index: 700;
    padding: 20px 25px;
    background-color: $lighter-grey;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30);
    .sidebar-heading {
      margin-top: 0;
      a {
        font-size: 24px;
        font-family: "roboto-bold";
        color: $text-color;
        &:hover {
          color: $link-color;
        }
      }
    }
    .pages {
      margin-top: 15px;
      .page {
        margin-bottom: 5px;
        .glyphicon {
          margin-right: 3px;
          cursor: pointer;
        }
      }
      .nested-pages {
        margin-left: 15px;
        display: none;
      }
    }
  }
  .wiki-main-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    padding: 15px 20px 60px;
    z-index: 600;
    &.with-nav {
      left: 330px;
    }
    &.no-nav {
      left: 0;
    }
    .form-container {
      width: 100%;
      padding: 0 15px;
    }
    .breadcrumb {
      padding: 25px 0 0;
    }
    .page-heading {
      padding-left: 15px;
      h1 {
        margin-top: 10px;
      }
      small {
        color: $light-grey;
        font-size: 16px;
        font-family: "roboto-bold";
      }
    }
    .page-actions {
      padding-top: 20px;
      padding-right: 25px;
    }
    .space-description, .page-description {
      margin-top: 20px;
      h3 {
        margin-top: 0;
        border: none;
      }
      .panel {
        padding: 20px;
      }
    }
    .page-content {
      margin-top: 30px;
      .panel {
        padding: 20px;
      }
    }
    .page-attachments {
      legend {
        margin-bottom: 5px;
      }
      h3 {
        margin-top: 15px;
      }
      #attachments {
        max-width: 800px;
        margin-bottom: 10px;
        .fields {
          &:first-child {
            td {
              border-top: none;
            }
          }
          td {
            padding-top: 12px;
            padding-bottom: 12px;
            vertical-align: middle;
            &.preview-attachment {
              padding-top: 18px;
              padding-bottom: 18px;
            }
            .file-field {
              line-height: 1;
            }
          }
        }
      }
      .add-page-attachment {
        margin-bottom: 30px;
      }
    }
    .page-comments {
      h3 {
        margin-top: 15px;
      }
      .comments {
        margin-top: 15px;
        .nested-comments {
          margin-left: 30px;
        }
        .comment {
          max-width: 800px;
          padding: 15px 20px 5px 20px;
          margin-bottom: 5px;
          .comment-author {
            color: $light-grey;
            font-family: "roboto-bold";
            font-size: 12px;
          }
          .comment-timestamp {
            display: inline;
            color: $light-grey;
            font-family: "roboto-bold";
            font-size: 12px;
          }
          .comment-actions {
            @extend .comment-timestamp;
            display: inline;
            a {
              @extend .comment-timestamp;
            }
            .glyphicon {
              margin-left: 5px;
              cursor: pointer;
              &:hover {
                color: $link-color;
              }
            }
          }
          .comment-content {
            margin-top: 5px;
            .comment-last-updated {
              @extend .comment-timestamp;
              display: block;
              padding-bottom: 5px;
            }
          }
          .comment-edit-form {
            display: none;
            margin-bottom: 10px;
          }
        }
        .comment-reply {
          margin-bottom: 20px;
          margin-left: 10px;
          .comment-form {
            display: none;
            margin-bottom: 5px;
            fieldset {
              margin-top: 15px;
              .form-group {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      fieldset {
        margin-top: 0;
        .form-group {
          margin-bottom: 0;
        }
      }
    }
  }
}