@import "variables-and-mixins";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts"; 


/* Environment Specific Styles */
.debug_dump {
  display: none;
  max-width: 1150px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}


/* Global Styles */
.container {
  padding-left: 5px;
  padding-right: 5px;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.hide {
  visibility: hidden !important;
}
a:hover {
  text-decoration: none;
}
b {
  font-family: "roboto-bold";
}


/* Typography Styles */
* {
  font-family: "roboto-regular";
}
strong, em {
  font-family: "roboto-bold";
}
h1 {
}
h2 {
}
h3 {
  margin-top: 20px;
  padding-top: 10px;
  color: $text-color;
  font-family: "roboto-bold";
  font-size: 21px;
  border-bottom: 1px solid $lighter-grey;
}
h4 {
}
h5 {
}
.help-block {
  margin-top: 2px;
  margin-bottom: 0px;
  margin-left: 2px;
  font-size: 12px;
}


/* Error Styles */
#error_explanation {
  color: $brand-danger;
}
.field_with_errors {
  color: $brand-danger;
  input {
    border-color: $brand-danger;
  }
}

/* Flash Message Styles */
.alert-dismissable {
  position: absolute;
  width: 100%;
  margin-bottom: 0;
  z-index: 800;
}

/* Form Styles */
fieldset {
  margin-top: 20px;
  legend {
    @extend h3;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
}
.form-actions {
  margin-top: 10px;
  a {
    margin-left: 10px;
  }
}
.form-help-links {
  margin-top: 20px;
}


/* Button Styles */
.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include border-radius();
}
.button-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
}
.button-m {
  padding: 7px 13px;
  font-size: 14px;
  line-height: 1.5;
}
.button-s {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.button-xs {
  padding: 3px 7px;
  font-size: 12px;
  line-height: 1.5;
}
.button-default {
  color: $button-default-color;
  background-color: $button-default-bg;
  border-color: $button-default-border;
  &:hover {
    color: darken($button-default-border, 15%);
    border-color: darken($button-default-border, 15%);
  }
}
.button-primary {
  color: $button-primary-color;
  background-color: $button-primary-bg;
  border-color: $button-primary-border;
  &:hover {
    color: darken($button-primary-border, 15%);
    border-color: darken($button-primary-border, 15%);
  }
}
.button-success {
  color: $button-success-color;
  background-color: $button-success-bg;
  border-color: $button-success-border;
  &:hover {
    color: darken($button-success-border, 15%);
    border-color: darken($button-success-border, 15%);
  }
}
.button-info {
  color: $button-info-color;
  background-color: $button-info-bg;
  border-color: $button-info-border;
  &:hover {
    color: darken($button-info-border, 15%);
    border-color: darken($button-info-border, 15%);
  }
}
.button-warning {
  color: $button-warning-color;
  background-color: $button-warning-bg;
  border-color: $button-warning-border;
  &:hover {
    color: darken($button-warning-border, 15%);
    border-color: darken($button-warning-border, 15%);
  }
}
.button-danger {
  color: $button-danger-color;
  background-color: $button-danger-bg;
  border-color: $button-danger-border;
  &:hover {
    color: darken($button-danger-border, 15%);
    border-color: darken($button-danger-border, 15%);
  }
}


/* Table Styles */
table {
  tr {
    td, th {
      &:last-child {
        text-align: right;
      }
    }
    th {
      font-family: "roboto-bold";
    }
  }
}

/* Pagination Styles */
.pagination {
  margin: 0;
  .previous_page {
    margin: 0 3px 0 0;
    font-weight: bold;
    &.disabled {
    }
  }
  .next_page {
    margin: 0 0 0 3px;
    font-weight: bold;
    &.disabled {
    }
  }
  a {
    margin: 0 3px;
  }
  .current {
    margin: 0 3px;
  }
}


@import "site";
@import "app";