@import "variables-and-mixins";


/* Navigation Styles */
.site-nav {
  &.navbar-default {
    background-color: transparent;
    border-color: transparent;
    .navbar-collapse {
      border: none;
    }
  }
  .navbar-brand {
    color: $link-color;
  }
  .nav {
    li {
      a.button-m {
        @extend .button-m;
        margin-top: 7px;
        color: $link-color;
        &:hover {
          color: darken($link-color, 15%);
        }
      }
    }
  }
  .navbar-toggle {
    border-color: $text-color;
    .icon-bar {
      background-color: $text-color;
      &:hover {
        background-color: darken($text-color, 15%);
      }
    }
    &:hover {
      background-color: transparent;
      border-color: darken($text-color, 15%);
    }
  }
}