/* Color Variables */
$medium-grey:               #5e5e5c;
$light-grey:                #aaaaaa;
$lighter-grey:              #e9e9e9;

/* General Variables */
$body-bg:                   #f5f4f0;
$text-color:                #5e5e5c;
$link-color:                #e82c0c;
$accent-color:              #e82c0c;
$input-border-focus:        #e82c0c;
$border-radius-base:        3px;
$input-color-placeholder:   $light-grey;

/* Brand Variables */
$brand-default:             #aaaaaa;
$brand-primary:             #e82c0c;
$brand-success:             #97d40B;
$brand-info:                #1b51b5;
$brand-warning:             #F7da37;
$brand-danger:              #e82c0c;

/* Button Variables */
$button-default-bg:         transparent;
$button-default-border:     $brand-default;
$button-default-color:      $brand-default;
$button-primary-bg:         transparent;
$button-primary-border:     $brand-primary;
$button-primary-color:      $brand-primary;
$button-success-bg:         transparent;
$button-success-border:     $brand-success;
$button-success-color:      $brand-success;
$button-info-bg:            transparent;
$button-info-border:        $brand-info;
$button-info-color:         $brand-info;
$button-warning-bg:         transparent;
$button-warning-border:     $brand-warning;
$button-warning-color:      $brand-warning;
$button-danger-bg:          transparent;
$button-danger-border:      $brand-danger;
$button-danger-color:       $brand-danger;


/* Mixins */
@mixin border-radius($radius: 3px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin simple-transition($duration: .2s) {
  -o-transition:$duration;
  -ms-transition:$duration;
  -moz-transition:$duration;
  -webkit-transition:$duration;
  transition:$duration;
}