<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render "layouts/shim" %>
</head>
<body>
  <%= render "shared/app_header" %>
  <div class="container app-container">
    <%= render "shared/flash_messages" %>
    <%= yield %>
  </div>
  <div class="clearfix"></div>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
