<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "chat/application" %>
  <%= javascript_include_tag "https://cdn.firebase.com/js/client/1.0.21/firebase.js" %>
  <%= javascript_include_tag "https://cdn.firebase.com/v0/firebase-token-generator.js" %>
  <%= javascript_include_tag "marked.min.js" %>
  <%= javascript_include_tag "chat/md5.min.js" %>
  <%= javascript_include_tag "chat/firechat_templates.js" %>
  <%= javascript_include_tag "chat/firechat.js" %>
  <%= javascript_include_tag "chat/firechat_ui.js" %>
  <%= include_gon %>
  <%= csrf_meta_tags %>
  <%= render "layouts/shim" %>
</head>
<body>
  <%= render "shared/app_header" %>
  <div id="chat-container" class="container app-container chat-container">
    <%= yield %>
  </div>
  <div class="clearfix"></div>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
