<!DOCTYPE html>
<html>
<head>
  <title><%= wiki_full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "wiki/ancestry_collapsible.js" %>
  <%= csrf_meta_tags %>
  <%= render "layouts/shim" %>
  <%= tinymce %>
</head>
<body>
  <%= render "shared/app_header" %>
  <div class="container app-container wiki-container">
    <%= render "shared/flash_messages" %>
    <% if controller_name == "pages" || (controller_name == "spaces" && action_name == "show") %>
      <div class="pages-list">
        <div class="row">
          <div class="col-md-7">
            <h4 class="sidebar-heading"><%= link_to @space.name, wiki_space_path(@space) %></h4>
          </div>
          <div class="col-md-5 text-right">
            <%= link_to "Create a Page", (controller_name == "pages" ? new_wiki_space_page_path(@space.id, parent_id: params[:id]) : new_wiki_space_page_path(@space.id)) %>
          </div>
        </div>
        <ul class="pages list-unstyled">
          <%= display_pages_in_space %>
        </ul>
      </div>
    <% end %>
    <div class="wiki-main-wrapper <%= (controller_name == "pages" || (controller_name == "spaces" && action_name == "show")) ? "with-nav" : "no-nav" %>">
      <%= yield %>
    </div>
  </div>
  <div class="clearfix"></div>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>