<% provide(:title, "Update #{current_user.display_name}") %>

<%= javascript_include_tag "reveal_new_access_code" %>
<div class="container">
  <h1>Update <%= current_user.display_name %></h1>

  <%= nested_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "shared/error_messages", obj: current_user %>
    <fieldset>
      <legend>Account Information</legend>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.label :display_name, "Display Name" %>
        <%= f.text_field :display_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
        <span class="help-block">Leave blank if you don't want to change it.</span>
        <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
      </div>
    </fieldset>
    <% if current_user.is_admin? %>
      <% current_user.build_organization unless current_user.organization %>
      <%= f.fields_for :organization do |o| %>
        <fieldset>
          <legend>Organization Information</legend>
          <p>
            <strong>Reccomendation:</strong> For security reasons, we recommend that you change your access code about every six months.<br />
            <a href="#" class="update-access-code">Update Access Code</a><span class="new-access-code hidden"><%= "#{SecureRandom.urlsafe_base64(16)}#{Time.now.to_i}" %></span> (refresh the page to generate another access code)
          </p>
          <div class="form-group">
            <%= o.label :name, "Organization Name" %>
            <%= o.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= o.label :access_code, "Organization Access Code" %>
            <%= o.text_field :access_code, class: "form-control access-code" %>
          </div>
          <div class="form-group">
            <%= o.label :website, "Website" %>
            <%= o.text_field :website, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= o.label :description, "Description" %>
            <%= o.text_area :description, rows: 5, class: "form-control" %>
          </div>
        </fieldset>
      <% end %>
    <% end %>
    <div class="form-actions">
      <%= f.submit "Update Account", class: "button button-primary" %>
      <%= link_to "Cancel", :back %>
    </div>
  <% end %>

  <div class="form-help-links">
    Would you like to cancel your account? <%= link_to "Cancel My Account", registration_path(resource_name), data: { confirm: "Are you sure you want to cancel your account? This action is NOT reversible!" }, method: :delete %>
  </div>

  <div class="organization-users">
    <h2>Users In This Organization</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <%= "<th>Actions</th>".html_safe if current_user.is_admin? %>
        </tr>
      </thead>
      <tbody>
        <% current_user.organization.users.order("display_name ASC").each do |u| %>
          <tr>
            <td class="align-vertical-center">
              <%= u.display_name %><%= " (admin)" if u.is_admin? %>
            </td>
            <td class="align-vertical-center">
              <%= u.email %>
            </td>
            <% if current_user.is_admin? %>
              <td>
                <%= (u.id == current_user.id) ? "" : (link_to "Delete?", registration_path(u), method: :delete, confirm: "Are you sure you want to delete this #{u.display_name}? This action is NOT reversible!", class: "button button-danger button-xs") %>
                <% if u.id != current_user.id %>
                 <%= (u.is_admin?) ? (link_to "Revoke Admin Access", users_toggle_admin_path(id: u.id), method: :post, class: "button button-danger button-xs") : (link_to "Grant Admin Access", users_toggle_admin_path(id: u.id), method: :post, class: "button button-danger button-xs") %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if current_user.is_admin? %>
    <div class="invite-user">
      <h2>Invite a New User</h2>
      <%= form_tag(users_invite_user_path, class: "form-inline", role: "form") do %>
        <div class="form-group">
          <%= label_tag :email, nil, class: "sr-only" %>
          <%= text_field_tag :email, nil, class: "form-control", placeholder: "email@example.com" %>
        </div>
        <button type="submit" class="button button-default">Send Invite</button>
      <% end %>
    </div>
  <% end %>
</div>