<% provide(:title, "Sign Up") %>

<h1>Create Account</h1>

<%= nested_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "shared/error_messages", obj: @user %>
  <fieldset>
    <legend>Account Information</legend>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", autofocus: true, value: (params[:email] if params[:email]) %>
    </div>
    <div class="form-group">
      <%= f.label :display_name, "Display Name" %>
      <%= f.text_field :display_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
    </div>
  </fieldset>
  <% @user.build_organization unless @user.organization %>
  <%= f.fields_for :organization do |o| %>
    <fieldset>
      <legend>Organization Information</legend>
      <h4>If you are...</h4>
      <p>
        <strong>Creating a New Organization:</strong> Fill out the Organization Name field, but leave the Access Code field blank.<br />
        <strong>Joining an Existing Organization:</strong> Fill out both the Organization Name and Access Code field, using the access code that you received from someone at your organization.
      </p>
      <div class="form-group">
        <%= o.label :name, "Organization Name" %>
        <%= o.text_field :name, class: "form-control", value: (params[:organization] if params[:organization]) %>
      </div>
      <div class="form-group">
        <%= o.label :access_code, "Organization Access Code" %>
        <%= o.text_field :access_code, class: "form-control", value: (params[:access_code] if params[:access_code]) %>
      </div>
    </fieldset>
  <% end %>
  <div class="form-actions">
    <%= f.submit "Create Account", class: "button button-primary" %>
    <%= link_to "Cancel", :back %>
  </div>
<% end %>

<%= render "users/shared/links" %>
